@media (max-width: 768px){
    header nav a.nav-link {
        margin: 0px 1em;
    }

    main section article {
        font-size: 0.8em;
    }

main section#second-page p {
    max-width: 50%;
}
}
