@media (max-width: 576px) {
    header nav a.nav-link {
        margin: 0.3em;
        font-size: 1em;
    }

    section#first-page {
        margin: 0px 5% 2.5em 5%;
        padding: 2em;
    }

    main, footer {
        font-size: 0.8em;
    }

    section#second-page {
        background-image: url("../assets/black-hole.jpg");

        background-position: center center;
        background-size: 100% 100%;
        color: rgb(26, 0, 175);
        padding: 1em;
    }

    main section#second-page p {
        color: #6991ff;
        max-width: 100%;

        text-shadow: 0px 0px 0.3px #a08aff;
    }

    main section#second-page h2 {
        color: #c30000;
        text-shadow: 0px 0px 2px red;
    }
}