:root {
    /* Cores */
    /* Backgrounds */
    --header-background-color-v1: #0b1346;
    --header-background-color-v2: #1c2e9a;
    --main-background-color: #001f37;
    --footer-background-color: #0d0c10;
    --first-page-background-color: #698eff6c;

    /* Texto */
    --headings-color: #3b83ff;
    --normal-text-color: #78aaff;
    --links-color: #75a3ff;

    /* Efeitos de Hover sobre texto */
    --hover-effects: #436fff;

    /* Fontes */
    --mozilla-headline-font: "Mozilla Headline", sans-serif;
    --momo-font: "Momo Trust Display", sans-serif;
    --jetbrains-mono-font: "JetBrains Mono", monospace;
    --funnel-display: "Funnel Display", sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

html::selection {
    background-color: rgb(32, 30, 85);
    color: rgb(231, 45, 45);
}

header {
    background-image: linear-gradient(to bottom, var(--header-background-color-v1), var(--header-background-color-v2));
    text-align: center;
}

header img#logo {
    margin: 10px;
    width: 75px;
}

header nav {
    padding: 5px;
}

header nav a.nav-link {
    margin: 0px 2em;
}

header nav a.nav-link, section#first-page article figure figcaption a, footer#contact p a {
    font: bold 1.2em var(--momo-font);
    color: var(--links-color);
    text-decoration: none;

    transition: all 0.5s ease-in-out;
}

header nav a.nav-link:hover, section#first-page article figure figcaption a:hover, footer#contact p a:hover {
    text-shadow: 0px 0px 0.33px black;
    color: var(--hover-effects);
}

main {
    background-color: var(--main-background-color);
}

section#first-page {
    box-shadow: 0px 0px 2.7px var(--first-page-background-color);
    background-color: var(--first-page-background-color);
    margin: 0px 15% 2.5em 15%;
    padding: 3em;
}

section#second-page {
    background-image: url("../assets/astronaut.jpg");
    background-position: center center;
    background-size: 100% 100%;
    height: 100vh;

    box-shadow: 0px 0px 1em #076fd07e;
    padding: 3em;
}

main section#second-page h2 {
    font-family: var(--mozilla-headline-font);
    font-weight: 900;
    color: #c30000;
    text-shadow: 0px 0px 2px red;
}

main section#second-page p {
    font-family: var(--funnel-display);
    font-weight: 800;
    max-width: 45%;

    color: #002fb0;
    text-shadow: 0px 0px 1px #c2b5ff;
}

main section article p {
    margin: 5px 12px;
}

main section#second-page div.button-area button {
    background-color: #7f76d0;
    font: 200 1.2em var(--momo-font);
    box-shadow: 0px 0px 5px #9292ffc2;
    border-radius: 12px;
    padding: 15px 21px;
    cursor: pointer;
    border: none;
    margin: 1em;

    transition: transform 0.7s ease-in-out;
}

main section#second-page div.button-area button:hover {
    transform: scale(1.3);
    box-shadow: 0px 0px 12px rgb(168, 165, 255);
}

footer#contact {
    background-color: var(--footer-background-color);
    text-align: center;
    padding: 2em;
}

footer#contact p a {
    color: var(--header-background-color-v2);
}



/* Estilos Genéricos */
p, li {
    font: 600 1em var(--jetbrains-mono-font);
    text-shadow: 0px 0px 0.4px #043865;
    color: var(--normal-text-color);
    padding: 5px;
}

ul {
    margin-left: 2em;
    list-style: url("../assets/telescope.png");
}

h2 {
    font-size: 1.75em;
    font-family: var(--momo-font);
    color: var(--headings-color);
}

figure {
    text-align: center;
    margin: 1em;
}

figure img {
    box-shadow: 0px 0px 4px var(--headings-color);
    border-radius: 5em;
    width: 80%;

    transition: all 0.5s ease;
}

figure img:hover {
    transform: rotate(-1deg) scale(1.05);
    margin: 10px;

    box-shadow: 0px 0px 7.67px thistle;
}

figure figcaption a {
    font: 600 1.2em var(--mozilla-headline-font);
    color: cornflowerblue;
}

span.special {
    font-family: var(--momo-font);
    font-weight: 400;
}

strong {
    text-shadow: 0px 0px 0.77px var(--normal-text-color);
}
