:root {
    /* Cores */
    --header-background-color-v1: #0b1346;
    --header-background-color-v2: #1c2e9a;

    --main-background-color: #001f37;
    --first-page-background-color: #698eff6c;
    --hover-effects: #436fff;
    --links-color: #75a3ff;

    --normal-text-color: #78aaff;
    --headings-color: #3b83ff;



    --cor-preto: #191a1b;
    --cor-cinza-claro: #b0b5bb;

    /* Fontes */
    --mozilla-headline-font: "Mozilla Headline", sans-serif;
    --momo-font: "Momo Trust Display", sans-serif;
    --jetbrains-mono-font: "JetBrains Mono", monospace;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

html::selection {
    background-color: lightcyan;
    color: red;
}

header {
    background-image: linear-gradient(to bottom, var(--header-background-color-v1), var(--header-background-color-v2));
    text-align: center;
}

header img#logo {
    margin: 10px;
    width: 75px;
}

header nav {
    padding: 5px;
}

p {
    font: 600 1em var(--jetbrains-mono-font);
    text-shadow: 0px 0px 0.4px #043865;
    color: var(--normal-text-color);
    padding: 5px;
}

h2 {
    font-size: 1.75em;
    font-family: var(--momo-font);
    color: var(--headings-color);
}

a {
    font: bold 1.2em var(--momo-font);
    color: var(--links-color);
    text-decoration: none;
    margin: 0px 2em;

    transition: all 0.5s ease-in-out;
}

a:hover {
    text-shadow: 0px 0px 0.33px black;
    color: var(--hover-effects);
}


main {
    background-color: var(--main-background-color);
}


section#first-page {
    box-shadow: 0px 0px 2.7px var(--first-page-background-color);
    background-color: var(--first-page-background-color);
    margin: 0px 15% 2.5em 15%;
    padding: 3em;
}

figure {
    text-align: center;
    margin: 1em;
}

figure img {
    box-shadow: 0px 0px 4px var(--headings-color);
    border-radius: 5em;
    width: 80%;
}

figure figcaption a {
    font: 600 1.2em var(--mozilla-headline-font);
    color: cornflowerblue;
}

section#second-page {
    background-image: url("../assets/astronaut-background.jpg");
    background-position: center center;
    background-size: 100% 100vh;
    height: 100vh;

    box-shadow: 0px 0px 1em #076fd07e;
    padding: 3em;

}

main section#second-page h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #dfdae0;

}

main section#second-page p {
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.584);
    color: aliceblue;
    max-width: 50%;
}


main section article p {
    margin: 5px 12px;
}

main section#second-page div.button-area button {
    background-color: rgb(105, 88, 255);
    font: 200 1.2em var(--momo-font);
    border: 1px solid black;
    margin: 45vh 0px 0px 2em;
    border-radius: 12px;
    padding: 15px 21px;
    cursor: pointer;
}



/* Estilos Genéricos */
span.special {
    font-family: var(--momo-font);
    font-weight: 400;
}

strong {
    text-shadow: 0px 0px 0.77px var(--normal-text-color);
}

